Source: dewpoint
Section: python
Priority: optional
Maintainer: Jeremy Grosser <jeremy@synack.me>
Build-Depends: debhelper (>= 11), dh-python, python-all, python-setuptools, python3-all, python3-setuptools
Standards-Version: 4.1.3
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Vcs-Browser: https://github.com/JeremyGrosser/dewpoint
Vcs-Git: https://github.com/JeremyGrosser/dewpoint.git
#Testsuite: autopkgtest-pkg-python

Package: python-dewpoint
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: urllib2 openers that sign requests for OAuth or Amazon APIs

Package: python3-dewpoint
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Provides: ${python3:Provides}
Description: urllib2 openers that sign requests for OAuth or Amazon APIs
